html{
    box-sizing: border-box;
    background-color: azure;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 20px;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.container div{
    flex:1;
    max-width: 900px;
}
.item0{
    max-width: 200px;
    height: auto;
}
.item1{
    max-width: 200px;
    height: auto;
}
.item2{
    max-width: 200px;
    height: auto;
}
li, ul,ol{
    display:block;
}